<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Finate - Job Portal"/>
    <meta name="keywords" content="accessories, digital products, electronic html, modern, products, responsive"/>
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon" />

    <meta name="author" content="hastech"/>
    <!--== Bootstrap CSS ==-->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!--== Icofont Icon CSS ==-->
    <link href="~/css/icofont.css" rel="stylesheet" />
    <!--== Swiper CSS ==-->
    <link href="~/css/swiper.min.css" rel="stylesheet" />
    <!--== Fancybox Min CSS ==-->
    <link href="~/css/fancybox.min.css" rel="stylesheet" />
    <!--== Aos Min CSS ==-->
    <link href="~/css/aos.min.css" rel="stylesheet" />

    <!--== Main Style CSS ==-->
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
    <header style="background-color: #272a33" class="header-area transparent">
        <div class="container">
          <div class="row no-gutter align-items-center position-relative">
            <div class="col-12">
              <div class="header-align">
                <div class="header-align-start">
                  <div class="header-logo-area">
                    <a href="/Home/Index">
                      <img class="logo-main" src="~/img/logo-light.png" alt="Logo" />
                      <img class="logo-light" src="~/img/logo-light.png" alt="Logo" />
                    </a>
                  </div>
                </div>
                <div class="header-align-center">
                  <div class="header-navigation-area position-relative">
                    <ul class="main-menu nav">
                      <li><a href="/Home/Index"><span>Home</span></a></li>
                      <li class="has-submenu"><a href="/Jobs/FindJobs"><span>Find Jobs</span></a>
                      </li>
                      <li class="has-submenu"><a href="/Candidates/FindCandidates"><span>Candidates</span></a>
                      </li>
                      <li><a href="/Contact/OurContacts"><span>Contact</span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="header-align-end">
                  <div class="header-action-area">
                    @if (User.Identity is { IsAuthenticated: false })
                    {
                      <a class="btn-registration" href="/Auth/Register">+ Register</a>
                    }
                    else
                    {
                      <a class="btn-registration" href="/Account/MyProfile">Profile</a>
                    }
                    <button class="btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasMenu" aria-controls="AsideOffcanvasMenu">
                      <i class="icofont-navigation-menu"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <main class="main-content">
          @RenderBody()
      </main>

        <footer class="footer-area">
          <!--== Start Footer Top ==-->
          <div class="footer-top">
            <div class="container pt--0 pb--0">
              <div class="row">
                <div class="col-lg-5">
                  <div class="footer-newsletter-content">
                    <h4 class="title">Subscribe for everyday job newsletter.</h4>
                  </div>
                </div>
                <div class="col-lg-7">
                  <div class="footer-newsletter-form">
                    <form action="#">
                      <input type="email" placeholder="Enter your email">
                      <button type="submit" class="btn-newsletter">Subscribe Now</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--== End Footer Top ==-->
      
          <!--== Start Footer Main ==-->
          <div class="footer-main">
            <div class="container pt--0 pb--0">
              <div class="row">
                  <div class="widget-item widget-about">
                    <div class="widget-logo-area">
                      <a href="/Home/Index">
                        <img class="logo-main" src="~/img/logo-light-theme.png" alt="Logo" />
                      </a>
                    </div>
                    <p class="desc">That necessitat ecommerce platform that optimi your store popularised the release</p>
                    <div class="social-icons">
                      <a href="https://www.facebook.com" target="_blank" rel="noopener"><i class="icofont-facebook"></i></a>
                      <a href="https://www.skype.com" target="_blank" rel="noopener"><i class="icofont-skype"></i></a>
                      <a href="https://twitter.com" target="_blank" rel="noopener"><i class="icofont-twitter"></i></a>
                    </div>
                  </div>
                </div>
                    </div>
                  </div>
          <!--== End Footer Main ==-->
      
          <!--== Start Footer Bottom ==-->
          <div class="footer-bottom">
            <div class="container pt--0 pb--0">
              <div class="row">
                <div class="col-12">
                  <div class="footer-bottom-content">
                    <p class="copyright">© 2024 Finate. Made with <i class="icofont-heart"></i> by <a target="_blank" href="https://themeforest.net/user/codecarnival">Codecarnival.</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--== End Footer Bottom ==-->
        </footer>
      
      <aside class="off-canvas-wrapper offcanvas offcanvas-start" tabindex="-1" id="AsideOffcanvasMenu" aria-labelledby="offcanvasExampleLabel">
          <div class="offcanvas-header">
            <h1 class="d-none" id="offcanvasExampleLabel">Aside Menu</h1>
            <button class="btn-menu-close" data-bs-dismiss="offcanvas" aria-label="Close">menu <i class="icofont-simple-left"></i></button>
          </div>
          <div class="offcanvas-body">
            <!-- Mobile Menu Start -->
            <div class="mobile-menu-items">
              <ul class="nav-menu">
                <li><a href="/Home/Index">Home</a></li>
                <li><a href="/Jobs/FindJobs">Find Jobs</a>
                </li>
                <li><a href="/Candidates/FindCandidates">Candidates</a>
                </li>
                <li><a href="Contact/OurContacts">Contact</a></li>
              </ul>
            </div>
            <!-- Mobile Menu End -->
          </div>
        </aside>

</div>
<!--=== jQuery Modernizr Min Js ===-->
<script src="~/js/modernizr.js"></script>
<!--=== jQuery Min Js ===-->
<script src="~/js/jquery-main.js"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="~/js/jquery-migrate.js"></script>
<!--=== jQuery Popper Min Js ===-->
<script src="~/js/popper.min.js"></script>
<!--=== jQuery Bootstrap Min Js ===-->
<script src="~/js/bootstrap.min.js"></script>
<!--=== jQuery Swiper Min Js ===-->
<script src="~/js/swiper.min.js"></script>
<!--=== jQuery Fancybox Min Js ===-->
<script src="~/js/fancybox.min.js"></script>
<!--=== jQuery Aos Min Js ===-->
<script src="~/js/aos.min.js"></script>
<!--=== jQuery Counterup Min Js ===-->
<script src="~/js/counterup.js"></script>
<!--=== jQuery Waypoint Js ===-->
<script src="~/js/waypoint.js"></script>

<!--=== jQuery Custom Js ===-->
<script src="~/js/custom.js"></script>
</body>
</html>