@model dynamic

@{
    ViewBag.Title = "Confirm Email";
    Layout = "_Layout";
}

<div class="page-header-area sec-overlay sec-overlay-black" data-bg-img="assets/img/photos/bg2.jpg">
    <div class="container pt--0 pb--0">
        <div class="row">
            <div class="col-12">
                <div class="page-header-content">
                    <h2 class="title">Password Reset Confirm</h2>
                    <nav class="breadcrumb-area">
                        <ul class="breadcrumb justify-content-center">
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-sep">//</li>
                            <li>Password Reset Confirm</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Page Header Area Wrapper ==-->

<!--== Start Faq Area Wrapper ==-->
<section class="page-not-found-area">
    <div class="container pt--0 pb--0">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="page-not-found-wrap">
                    <div class="page-not-found-thumb">
                        <h1 class="title">We are waiting for you!</h1>
                    </div>
                    <div class="page-not-found-content">
                        <h2 class="title">Click on confirmationg link in email.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>