@model Finate.Web.Models.AuthModels.AuthViewModels.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "_Layout";
}

 <section class="account-login-area">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-7 col-xl-6">
            <div class="login-register-form-wrap">
              <div class="login-register-form">
                <div class="form-title">
                  <h4 class="title">Reset Password</h4>
                </div>
                <form asp-controller="Auth" asp-action="ResetPassword" method="post">
                <input type="hidden" asp-for="ReturnUrl"/>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <input class="form-control" type="email" asp-for="Email" placeholder="Email">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <input class="form-control" type="password" asp-for="NewPassword" placeholder="Password">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <input class="form-control" type="password" asp-for="NewPasswordConfirm" placeholder="Password">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <button type="submit" class="btn-theme">Reset Password</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>